{{extend 'layout.html'}}

<h2>Contract</h2>

<div id='temp'></div>
<form action="" method="get">
	<h4>About you</h4>
	<div class="row">
		
		<div class="span2"><lable>First Name: </lable></div>
		<div class="span10"><input type="text" name="fName"/></div>
		
		<div class="span2"><lable>Last Name: </lable></div>
		<div class="span10"><input type="text" name="lName"/></div>
		
		<div class="span2"><lable>City: </lable></div>
		<div class="span10"><input type="text" name="city"/></div>
		<div class="span2"><lable>State: </lable></div>
		<div class="span10"><input type="text" name="city"/></div>
		
		<div class="span2"><lable>Phone: </lable></div>
		<div class="span10"><input type="text" name="phone"/></div>
		
		<div class="span2"><lable>BYU-Email: </lable></div>
		<div class="span10"><input type="text" name="email"/></div>

	</div>
	
	<h4>Housing options</h4>
	<div class="row">	

		<div class="span2"><lable>Gender: </lable></div>
		<div class="span10">
			<input type ="radio" name="gender" value="male"/>Male<br/>
			<input type ="radio" name="gender" value="female"/>Female<br/><br/>
		</div>


		<div class="span2"><lable>Semester: </lable></div>
		<div class="span1"><input type="checkbox" name="semester" value="fall"/>Fall</div>
		<div class="span9">Year			
			<select name="fallYear">
				<option style="display:none"></option>
				<option value="{{=year}}">{{=year}}</option>
				<option value="{{=year+1}}">{{=year+1}}</option>
			</select><br/>
		</div>
		
		<div class="span2"></div>
		<div class="span1"><input type="checkbox" name="semester" value="winter"/>Winter</div>
		<div class="span9">Year			
			<select name="winterYear">
				<option style="display:none"></option>
				<option value="{{=year}}">{{=year}}</option>
				<option value="{{=year+1}}">{{=year+1}}</option>
			</select><br/>
		</div>
		
		<div class="span2"><lable></lable></div>
		<div class="span1"><input type="checkbox" name="semester" value="spring"/>Spring</div>
		<div class="span9">Year			
			<select name="springYear">
				<option style="display:none"></option>
				<option value="{{=year}}">{{=year}}</option>
				<option value="{{=year+1}}">{{=year+1}}</option>
			</select><br/>
		</div>
		
		<div class="span2"></div>
		<div class="span1"><input type="checkbox" name="semester" value="summer"/>Summer</div>
		<div class="span9">Year			
			<select name="summerYear">
				<option style="display:none"></option>
				<option value="{{=year}}">{{=year}}</option>
				<option value="{{=year+1}}">{{=year+1}}</option>
			</select><br/>
		</div>

		<div class="span12"><input type="button" onclick="send()" value="submit"/></div>
	</div>
</form>

<br/>
<p>Contact Us</p>

<script type="text/javascript">

function send()
{
	// get vars
	var fname = $('[name=fName]').value;
	document.getElementById('temp').innerHTML = fname;
	// put in JSON
	// send via ajax
	// load confirmation page into html
	//var DTO = { 'testObject' : testObject };

	//var data = $.toJSON(DTO);    //Using the toJSON plugin by Mark Gibson

 	/*$.ajax({
    	type: 'POST',
    	url: '/Myapplication/controllers/jsontest.json',
    	contentType: "application/json; charset=utf-8", 
    	data: data,
    	dataType: 'json',
		success:  function(data){  alert('yay'); }
	});*/
}
</script>
