{{extend 'layout.html'}}

<h2>Contract</h2>

<div id='temp'></div>
<form action="" method="get">
	<h4>About you</h4>
	<div class="row">
		
		<div class="span2"><lable>First Name: </lable></div>
		<div class="span10"><input type="text" name="fName"/></div>
		
		<div class="span2"><lable>Last Name: </lable></div>
		<div class="span10"><input type="text" name="lName"/></div>
		
		<div class="span2"><lable>Address: </lable></div>
		<div class="span10"><input type="text" name="address"/></div>
		<div class="span2"><lable>City: </lable></div>
		<div class="span10"><input type="text" name="city"/></div>
		<div class="span2"><lable>State: </lable></div>
		<div class="span10"><input type="text" name="state"/></div>
		<div class="span2"><lable>Zip: </lable></div>
		<div class="span10"><input type="text" name="zip" maxlength="5" size="5" /></div>
		
		<div class="span2"><lable>Phone: </lable></div>
		<div class="span10"><input type="text" name="phone" maxlength="12" /></div>
		
		<div class="span2"><lable>BYU-Email: </lable></div>
		<div class="span10"><input type="text" name="email"/></div>

	</div>
	
	<h4>Housing options</h4>
	<div class="row">	

		<div class="span2"><lable>Gender: </lable></div>
		<div class="span10">
			<input type ="radio" name="gender" value="male"   onchange="getAvailables()"/>Male<br/>
			<input type ="radio" name="gender" value="female" onchange="getAvailables()"/>Female<br/><br/>
		</div>


		<div class="span2"><lable>Semester: </lable></div>
		<div class="span3">
			<select name="semester"  onchange="getAvailables(); getSemesterDates();">
				<option style="display:none"></option>
				<option value="fall">Fall</option>
				<option value="winter">Winter</option>
				<option value="spring">Spring</option>
				<option value="summer">Summer</option>
			</select><br/>
		</div>
		<div class="span7"> Year:
			<select name="year"  onchange="getAvailables(); getSemesterDates();">
				<option style="display:none"></option>
				<option value="{{=year}}">{{=year}}</option>
				<option value="{{=year+1}}">{{=year+1}}</option>
			</select><br/>
		</div>

		<div class="span1"></div><div class="span11" id="semesterDates"></div>

		<div class="span2">Room Type:</div>
		<div class="span10">		
			<input type="radio" name="roomType" value="private" onchange="getAvailables()"/>Private <br/>
			<input type="radio" name="roomType" value="shared"  onchange="getAvailables()"/>Shared
		</div>		

	<div span="12" id="output"></div>

		<br/>
		<div class="span12"><input type="button" onclick="send()" value="submit"/></div>
	</div>
</form>

<div id="test"></div>

<br/>
<p>Contact Us</p>

<script type="text/javascript">

function getSemesterDates()
{
	var semester = $("select[name=semester]").val();
	var year = $("select[name=year]").val();

	$.get("{{=URL('getSemesterDates')}}", {'year':year, 'semester':semester},
    function(data/*resulting data*/)
    {
        document.getElementById("semesterDates").innerHTML = data + "<br/><br/>";
    } );
}

function getAvailables()
{
	var gender = $("input[name=gender]:checked").val();
	var semester = $("select[name=semester]").val();
	var year = $("select[name=year]").val();
	var type = $("input[name=roomType]:checked").val();

	$.get("{{=URL('getAvailables')}}", {'year':year, 'gender':gender, 'semester':semester, 'type':type},
    function(data/*resulting data*/)
    {
        document.getElementById("output").innerHTML = data;
    } );
}


function send()
{
	var gender = $("input[name=gender]:checked").val();

	var semester = $("select[name=semester]").val();
	var year = $("select[name=year]").val();
	var type = $("input[name=roomType]:checked").val();

	var firstName = $("input[name=fName]").val();
	var lastName = $("select[name=lName]").val();
	var address = $("input[name=address]").val();
	var city = $("input[name=city]").val();
	var state = $("select[name=state]").val();
	var zip = $("input[name=zip]").val();
	var phone = $("select[name=phone]").val();
	var email = $("input[name=email]").val();
	
	var data = {'year':year, 'gender':gender, 'semester':semester, 'type':type, 
	'firstName':firstName, 'lastName':lastName, 'address':address, 'city':city, 'state':state, 'zip':zip,
	'phone':phone, 'email':email};

	$.post("{{=URL('submitContract')}}", data,
    function(data/*resulting data*/)
    {
        document.getElementById("output").innerHTML = data;
    } );	
}

</script>
