{{extend 'adminlayout.html'}}
<script>
	//toggle check boxes
	function toggle(id){
		if(document.getElementById(id).firstElementChild.checked !=true){
			document.getElementById(id).firstElementChild.checked = true;
		}else{
			document.getElementById(id).firstElementChild.checked = false;
		}
	}
	//getQuery class
	var query = function(){
		this.params = new Array();
	}
	//get query parameters from anything with class "selection"
	query.prototype.setChildren = function(){
		var list = document.querySelectorAll('.selection');
		for(var i = 0; i < list.length; i++){
			if(document.getElementById(list[i].id).firstElementChild.checked == true){
				this.params.push(document.getElementById(list[i].id).firstElementChild.value);		
			}
		}
		if(this.params.length <= 0){
			throw new Error("Selection list empty!");
		}
	}
	//return params
	query.prototype.getParams = function(){
		return this.params;
	}
	//executeQuery does all the goodness
	function executeQuery(){
		var execute = new query();
		execute.setChildren();
		//alert(execute.getParams());
		return execute.getParams();
		
	}
	

	
	function testing(){
		ajax('{{=URL("admin", "test")}}', ['tester'], 'myDiv');
	}
	
	function test(){
	var tester = executeQuery();
    $.ajax({
        url: "testing",
        datatype: "json",
		data: "array="+JSON.stringify(tester),
        success: function(data){ return $('#myDiv').html(data) }
        });
    }
	
</script>

<h1>Welcome {{=username.capitalize()}}!</h1>

<div class="admin">
<section id="nav">
	<form>
	<ul>
	{{for x in range(len(links)):}}
		<li class="btn selection" id={{=links[x]}} onclick="toggle(this.id)"><input type="checkbox" name={{=links[x]}} value={{=links[x]}}>{{=links[x].title()}}</li>
	{{pass}}
	
	<!--<li class="btn" onclick="executeQuery()">Execute</li>-->
	<!-- put the ajax in a function! -->
	<li class="btn" onclick="test()">Execute</li>
	</ul>
	</form>
</section>
<section id="dataView">
	{{=A('manageUser', callback=URL('manageUsers'), target='myDiv')}}
	<div id="myDiv"><h2>Let AJAX change this text</h2></div>
</section>
</div>