{{extend 'adminlayout.html'}}
<script>
	//toggle check boxes
	function toggle(id){
		if(document.getElementById(id).firstElementChild.checked !=true){
			document.getElementById(id).firstElementChild.checked = true;
		}else{
			document.getElementById(id).firstElementChild.checked = false;
		}
	}
	//getQuery class
	var Query = function(){
		this.params = new Array();
	}
	//get query parameters from anything with class "selection"
	Query.prototype.setChildren = function(){
		var list = document.querySelectorAll('.selection');
		for(var i = 0; i < list.length; i++){
			if(document.getElementById(list[i].id).firstElementChild.checked == true){
				this.params.push(document.getElementById(list[i].id).firstElementChild.value);		
			}
		}
		if(this.params.length <= 0){
			throw new Error("Selection list empty!");
		}
	}
	//return params
	Query.prototype.getParams = function(){
		return this.params;
	}
	//executeQuery does all the goodness
	function executeQuery(){
		var execute = new Query();
		execute.setChildren();
		//alert(execute.getParams());
		return execute.getParams();
		
	}
	
	function testing(){
		ajax('{{=URL("admin", "test")}}', ['tester'], 'myDiv');
	}
	
	function test(){
	var tester = executeQuery();
    $.ajax({
        url: "tables",
        datatype: "json",
		data: "array="+JSON.stringify(tester),
        success: function(data){ 
				var tables = new Array();
				tables = (data);
				var result = false;
				return $('#myDiv').html(tables)
			}
        });
    }
	
</script>

<h1>Welcome {{=username.capitalize()}}!</h1>

<div class="admin">
<section id="nav">
	<form>
	<ul>
	{{for x in range(len(tables)):}}
		<li class="btn selection" id={{=tables[x]}} onclick="toggle(this.id)"><input type="checkbox" name={{=tables[x]}} value={{=tables[x]}}>{{=tables[x].title()}}</li>
	{{pass}}
	
	<!--<li class="btn" onclick="executeQuery()">Execute</li>-->
	<!-- put the ajax in a function! -->
	<li class="btn" onclick="test()">Execute</li>
	</ul>
	</form>
</section>
<section id="dataView">
	{{=A('manageUser', callback=URL('manageUsers'), target='myDiv')}}
	<div id="myDiv"><h2>Let AJAX change this text</h2></div>
	<ul>
	<!--{{import re
		testList = db.tables
		test = []}}
	{{for x in range(len(testList)):
		match = re.search('archive',testList[x])
		if not match:
			test.append((testList[x]))
			continue}}
	{{pass}}
	<li>{{=test}}</li>-->


	
	
	</ul>
</section>
</div>