{{extend 'adminlayout.html'}}
<script>
	
</script>

<h1>Welcome {{=username.capitalize()}}!</h1>

<div class="admin">
<section id="nav">
	<form>
	<ul>
	{{for x in range(len(links)):}}
		<li class="btn selection" id={{=links[x]}} onclick="toggle(this.id)"><input type="checkbox" name={{=links[x]}} value={{=links[x]}}>{{=links[x].title()}}</li>
	{{pass}}
	<li class="btn" onclick="executeQuery()">Execute</li>
	</ul>
	</form>
</section>
<section id="dataView">
	{{=A('manageUser', callback=URL('manageUsers'), target='myDiv')}}
	<div id="myDiv"><h2>Let AJAX change this text</h2></div>
</section>
</div>