div.admin{
	display: flex;
}
body[role=admin] section{
	border: solid 1px black;
	padding: 5px;
}
body[role=admin] section[id="nav"]{
	width: 10%;
	min-width: 100px;
}
body[role=admin] section[id="nav"] ul{
	margin: 0;
}
body[role=admin] section[id="nav"] li{
	list-style: none;
	display: block;
	margin-bottom: 5px;
}
body[role=admin] section[id="nav"]form li:last-child{
	margin-bottom: 0px;
}
body[role=admin] section[id="nav"] form li {
	text-decoration: none;
	text-align: left;
	color: black;
	font-weight: bold;
}
body[role=admin] section[id="nav"] form li input{
	margin: 0 5px 2px 0;
}
body[role=admin] section[id="nav"] form li:hover {
	color: orange;
}
body[role=admin] section[id="dataView"]{
	width: 85%;
	min-width: 300px;
	padding: 5px;
}